* {
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
}


body {

    margin: 0;

    height: 100vh;

    background:
    radial-gradient(
        circle at top,
        #1b1038,
        #050505 45%
    );

    color: white;

    overflow: hidden;

}





/* HEADER */


header {

    height: 70px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 25px;

    background: rgba(10,10,10,.75);

    border-bottom: 1px solid #222;

    backdrop-filter: blur(20px);

}



.logo {

    font-size: 26px;

    font-weight: 900;

}



.logo span {

    color: #8b5cf6;

}



.actions {

    display:flex;

    gap:12px;

}





button {

    border:none;

    cursor:pointer;

    color:white;

    font-weight:700;

    padding:11px 18px;

    border-radius:12px;

    background:#181818;

    border:1px solid #333;

    transition:.2s;

}



button:hover {

    transform:translateY(-2px);

    border-color:#8b5cf6;

}





.deploy {

    background:

    linear-gradient(
        135deg,
        #8b5cf6,
        #00d4ff
    );

}





/* MAIN APP */


.app {

    display:grid;

    grid-template-columns:

    330px

    1fr

    430px;


    height:

    calc(100vh - 70px);

}







/* CHAT */


.chat {


    padding:20px;


    background:

    rgba(8,8,8,.8);


    border-right:

    1px solid #222;


}



.chat h2 {


    margin-top:0;


}



.v-logo {


    color:#8b5cf6;


    font-size:35px;


    font-weight:900;


}




#messages {


    height:

    calc(100% - 90px);


    overflow-y:auto;


    padding-right:5px;


}





.message {


    padding:14px;


    margin-bottom:14px;


    border-radius:16px;


    line-height:1.5;


}



.ai {


    background:#111;


    border:

    1px solid #262626;


}



.user {


    background:

    linear-gradient(
        135deg,
        #8b5cf6,
        #2563eb
    );


}





.prompt-box {


    display:flex;


    gap:10px;


}



input {


    flex:1;


    padding:14px;


    border-radius:14px;


    background:#111;


    border:

    1px solid #333;


    color:white;


    outline:none;


}



input:focus {


    border-color:#8b5cf6;


}







/* EDITOR */


.editor-panel {


    display:flex;


    background:#080808;


}





.files {


    width:170px;


    padding:15px;


    border-right:

    1px solid #222;


}





.files h3 {


    color:#aaa;


}




.file {


    width:100%;


    text-align:left;


    margin-bottom:8px;


}





.file.active {


    background:#202020;


    border-color:#8b5cf6;


}






.code {


    flex:1;


    padding:20px;


}




#code {


    height:85%;


    background:#020202;


    border-radius:16px;


    padding:20px;


    overflow:auto;


    color:#00ff9c;


    font-family:

    "Fira Code",

    monospace;


    border:

    1px solid #222;


}









/* PREVIEW */


.preview {


    padding:20px;


    background:#070707;


    border-left:

    1px solid #222;


}




.browser {


    height:90%;


    background:white;


    border-radius:18px;


    overflow:hidden;


}



.browser-bar {


    height:35px;


    background:#ddd;


    color:#777;


    padding:8px 15px;


}





iframe {


    width:100%;


    height:

    calc(100% - 35px);


    border:none;


}







/* SCROLLBAR */


::-webkit-scrollbar {


    width:8px;


}



::-webkit-scrollbar-thumb {


    background:#333;


    border-radius:20px;


}
